@font-face {
    font-family: 'MICEMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEMyungjo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/*reset*/
* {margin: 0; padding: 0; box-sizing: border-box;}
ul, li {list-style: none;}
a {text-decoration: none; color: inherit;}

/*layout*/
body {font-family: 'MICEMyungjo'; color: #404040; overflow-x: hidden;}
.container01 {width: 1720px; margin: 0 auto;}
.container02 {width: 1364px; margin: 0 auto;}
:root {
    --letter-spacing: -0.25px;
    --font-weight: normal;
    --color: #C4C4C4;

}

/*header*/
#header {width: 100%; height: 100px; position: relative; z-index: 100;}
#header .container01 {display: flex; justify-content: space-between; align-items: center;}
#header h1 {width: 150px; height: 60px;}
#header h1 img {width: 100%;}

#header .nav {font-size: 20px;  }
#header .nav .main-nav {display: flex; height: 100px; align-items: center;}
#header .nav .main-nav li {margin-right: 60px; text-align: center; width: 130px; position: relative; height: 100px; line-height: 100px;}
#header .nav .main-nav li:nth-child(5) {color: #A82B11;}
#header .nav .main-nav li:last-child {margin-right: 0px;}
#header .nav .main-nav li a:hover{color: #A82B11;}

#header .nav .main-nav .sub-nav {height: 250px; position: absolute; font-size: 16px; left: 0; top: 100px; z-index: 20; padding-top: 20px; display: none;}
#header .nav .main-nav .sub-nav li {margin-bottom: 20px; height: 23px; line-height: 0;}
#header .nav .main-nav .sub-nav li:nth-child(5) {color: #404040;}
#header .nav .main-nav .sub-nav li a:hover{text-decoration: underline; text-underline-position: under;}

#header .nav-icon {display: flex;}
#header .nav-icon img {width: 25px; height: 25px; text-align: center; display: block; margin-right: 20px; align-items: center;}
#header .nav-icon .user-last {margin-right: 0;}

#header .nav-bg {width: 100%; height: 268px; background: #fff; position: absolute; left: 0; z-index: 1; display: none; opacity: 0.9; border-bottom: 1px solid var(--color);}

.jbFixed {position: fixed; top: 0; left: 0; right: 0; background: #fff;}

/*banner*/
#banner {width: 100%; height: 900px; background: url('../images/banner/sub-banner.jpg') no-repeat center; border-radius: 0 150px 0 0;}
#banner .textbox h2{color: #fff; font-size: 80px; font-weight: var(--font-weight);}
#banner .textbox h2:first-child {padding-top: 530px;} 
#banner .textbox h3{color: #fff; font-size: 25px; font-weight: var(--font-weight);}

/*section01 - parfum*/
#parfum {margin-top: 210px;}
#parfum .container01 {display: flex; justify-content: space-between; align-items: center;}
#parfum .parfum-left {display: flex;}
#parfum .parfum-left img {width: 450px; height: 450px;}
#parfum .parfum-left img:first-child {margin: 0 35px 0 0;}
#parfum .parfum-right {}
#parfum .parfum-right h2{font-size: 35px; font-weight: var(--font-weight); margin-bottom: 60px;}
#parfum .parfum-right p{letter-spacing: var(--letter-spacing); width: 700px; margin-bottom: 47px; font-size: 25px;}
#parfum .parfum-right p.pur-btn{font-size: 18px; margin-top: 53px; margin-bottom: 0;}
#parfum .parfum-right p.pur-btn:after{content: '\232A'; font-weight: normal; margin-left: 5px;}

/*img-fixed*/
#img-fiexd {width: 100%; height: 226px; background: url('../images/background.jpg') no-repeat center; background-attachment: fixed; margin-top: 345px; color: #fff; text-align: center;}
#img-fiexd h2{font-size: 35px; padding-top: 43px; margin-bottom: 20px;}
#img-fiexd p{font-size: 28px;}

/*section02 - oil*/
#oil {margin-top: 210px;}
#oil .container01 {display: flex; justify-content: space-between; align-items: center;}
#oil .oil-left {}
#oil .oil-left h2{font-size: 35px; font-weight: var(--font-weight); margin-bottom: 60px;}
#oil .oil-left p{letter-spacing: var(--letter-spacing); width: 680px; margin-bottom: 47px; font-size: 25px;}
#oil .oil-left p.oil-btn{font-size: 18px; margin-top: 53px; margin-bottom: 0;}
#oil .oil-left p.oil-btn:after{content: '\232A'; font-weight: normal; margin-left: 5px;}
#oil .oil-right {display: flex;}
#oil .oil-right img{width: 450px; height: 450px;}
#oil .oil-right img:first-child {margin: 0 35px 0 0;}

/*img-background*/
#img-background {width: 100%; height: 442px; background: url('../images/background2.jpg') no-repeat center; color: #fff; margin-top: 350px; padding-top: 122px;}
#img-background h2 {font-size: 60px; font-weight: normal;}
#img-background p {font-size: 25px; width: 955px; line-height: 37.5px; margin-top:50px;}


/*footer*/
#footer {width: 100%; height: 532px; background: #1B1B1B; color: #A2A2A2; padding: 60px 0 0 35px; margin-top: 300px;}
#footer .footer-top {display: flex; justify-content: space-between; align-items: center;}
#footer .footer-top .footer-top-left ul.footer-main {display: flex; }
#footer .footer-top .footer-top-left ul.footer-main li {font-size: 20px; width: 160px; margin-right: 180px;}
#footer .footer-top .footer-top-left ul.footer-main li:last-child {margin-right: 0;}
#footer .footer-top .footer-top-left ul.footer-main li ul.footer-sub li{color: #fff; font-size: 18px; margin-bottom: 10px;}
#footer .footer-top .footer-top-left ul.footer-main li ul.footer-sub li:first-child{margin-top: 32px;}
#footer .footer-top .footer-top-left ul.footer-main li ul.footer-sub li:last-child{margin-bottom: 0;}
#footer .footer-top .footer-top-right .search-box form{display: flex; width: 560px; justify-content: space-between; align-items: center; border-bottom: 2px solid var(--color); }
#footer .footer-top .footer-top-right .search-box .search-txt{font-size: 20px; border: 0; width: 90%; background: #1B1B1B; color: #fff;}
#footer .footer-top .footer-top-right .search-box .search-btn {width: 38px;height: 38px; position: relative; background: #1b1b1b; border: 0;}
#footer .footer-top .footer-top-right .search-box .search-btn img{position: absolute; left: -2px; top: -1px; width: 38px; height: 38px;}

#footer .footer-bottom {width: 1720px; border-top: 1px solid var(--color); margin-top: 50px; color:#A2A2A2; font-size: 20px; display: flex; justify-content: space-between; align-items: flex-end; }
#footer .footer-bottom .footer-bottom-left{margin-top: 30px;}
#footer .footer-bottom .footer-bottom-left p {margin-bottom: 10px;}
#footer .footer-bottom .footer-bottom-left p:last-child {margin-bottom: 0px;}
#footer .footer-bottom .footer-bottom-right img {width: 30px; height: 30px; margin-right: 20px;}
#footer .footer-bottom .footer-bottom-right img:last-child {margin-right: 0;}